

<title>Happy Day !!</title>
  <link rel="stylesheet" href="stylesheets/style.css"/>
 
  <nav>
    <div class="nav-wrapper">
    <a href="/" class="brand-logo"> HOBBIES</a>
    <ul id="nav-mobile" class="right hide=on-med-and-down">
      <li><a href="/hobbies">HOBBIES</a></li>
      <li><a href="/type"> outside/inside</a></li>
    </ul>
  </div>
</nav>